@font-face {
  font-family: "Space Grotesk";
  src: url(/SG-Linear.woff2) format("woff2");
  font-weight: 100 700;
  font-display: block;
}

html,
body {
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
}

html,
body,
#ultra {
  height: 100%;
}

body {
  max-width: 1200px;
  margin: auto;
}

main {
  margin: 2em;
}

strong {
  font-weight: 800;
}

.container ::-webkit-scrollbar {
  display: none;
}

nav div:first-of-type {
  padding: 0 0 0 1em;
}

nav a {
  padding: 0.5em 1em;
  border: 2px solid currentColor;
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  font-size: 90%;
  white-space: nowrap;
  margin: 0.5em 0.25em 0.5em;
  border-radius: 2em;
  transition: color 0.2s;
}

nav a:nth-of-type(2) {
  animation-delay: 500ms;
}

nav a:nth-of-type(3) {
  animation-delay: 1000ms;
}

nav a:nth-of-type(4) {
  animation-delay: 1500ms;
}

nav a:focus {
  outline: none;
}

nav a:hover,
nav a:focus,
nav a.active {
  color: #ff3399;
}

section {
  text-align: left;
  margin: auto;
}

.flex,
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.logo {
  border: none;
  padding: 0;
  box-shadow: none;
  justify-content: left;
  flex: 1 1 100%;
}

.logo h3::before {
  display: none;
  content: "";
}

@media (orientation: landscape) {
  .flex {
    justify-content: space-between;
    width: 100%;
    padding-right: 1em;
    box-sizing: border-box;
  }
  .logo {
    flex: inherit;
  }
}

.manifesto {
  max-width: 800px;
  margin: auto;
}

.manifesto h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 2em 0 0.2em;
}

section.hero {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 4em 0;
  padding: 0;
}

@media (orientation: landscape) {
  section.hero img {
    aspect-ratio: 6/4;
    object-fit: cover;
    width: 40vw;
    max-width: 480px;
    height: auto;
  }
}

@media (orientation: portrait) {
  section.hero img {
    aspect-ratio: 8/9;
    object-fit: cover;
    max-width: 40vw;
    width: 100%;
    height: auto;
  }
}

section.hero img:first-of-type {
  position: relative;
  top: -1.5em;
}

section.hero img:last-of-type {
  position: relative;
  top: 1.5em;
}

section.hero h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  font-weight: 700;
  width: 100%;
  font-size: clamp(2em, 9vw, 7em);
  text-align: center;
}

nav.flex img {
  max-width: 75px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0em 0 0;
}

nav h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

section h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

p {
  max-width: 600px;
  margin: 0 0 1em;
}

p,
ul,
ol,
blockquote {
  line-height: 1.5;
}

h1,
.logo h3 {
  background: linear-gradient(to right, #6666ff, #0099ff, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

h1,
h2 {
  margin: 0;
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h3 {
  padding-top: 1em;
}

h4 {
  font-weight: 600;
  font-size: 120%;
}

h3 a::before {
  content: "# ";
  opacity: 0.5;
  font-weight: 200;
}

h3 a {
  text-decoration: none;
}

h4::before {
  content: "→ ";
  opacity: 0.5;
  font-weight: 200;
}

hr {
  margin: 2em 0 0;
  max-width: 650px;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

ul,
ol {
  padding: 0;
  margin: 0 0 2em;
  list-style-position: inside;
  list-style-type: none;
}

li::before {
  content: "▸ ";
  color: #ff3399;
  font-weight: 200;
}

a {
  color: inherit;
  transition: color 0.2s;
}

a:hover {
  color: #ff3399;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 90%;
  display: inline-block;
  padding: 0em 0.5em;
  background: #1f1f1f;
  border-radius: 0.5em;
}

pre {
  max-width: 650px;
  border-radius: 2em !important;
  overflow: hidden;
  margin-bottom: 2em;
  box-sizing: border-box;
}

pre code {
  padding: 2em !important;
  background: inherit;
  font-size: 90%;
  line-height: 1.5;
}

blockquote {
  border-left: 0.25em solid #ff3399;
  margin: 0 0 2em;
  padding: 0 0 0 1em;
}

.example {
  margin-bottom: 2em;
}

.example p {
  margin-bottom: 1em;
}

.example a {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
  border: 2px solid currentColor;
  border-radius: 2em;
  text-decoration: none;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
} /*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #c9d1d9;
  background: #0d1117;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #ff7b72;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #d2a8ff;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #79c0ff;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #a5d6ff;
}
.hljs-built_in,
.hljs-symbol {
  color: #ffa657;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #8b949e;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #7ee787;
}
.hljs-subst {
  color: #c9d1d9;
}
.hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
.hljs-bullet {
  color: #f2cc60;
}
.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
.hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
